---
layout: page
title: Debate
where: Debate
permalink: /debate
desc: Debate motions and values
---
<h1>Debate</h1>

<h2>Motions</h2>
{% for post in site.categories["motion"] %}
    <li style="color: white;"> <a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
{% endfor %}

<br><br>

<h2>Theory</h2>
<h3>Economy</h3>
{% for post in site.tags["economy"] %}
    <li style="color: white;"> <a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
{% endfor %}