---
layout: page
title: Robert_Solca
desc: Programmer | Debate enthusiast
---

<h1>Introduction</h1>
<ul>
    <li><a href="https://github.com/q1e123"></a> Software</li> - Open source software that I've written
    <li>Lessons</li> - If you wanna understand stuff
    <li><a href="https://www.linkedin.com/in/robert-nicolae-solca/"></a>LinkedIn</li> - professional life 
</ul>

<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1 >Recent lessons</h1>
            {% for post in site.categories["lesson"] limit:5 %}
            <li style="color: white;"> {{ post.date | date: '%d %B, %Y' }} -  <a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
            {% endfor %}
        </div>
        <div class="col-sm">
            <h1 >Recent blog posts</h1>
            {% for post in site.categories["blog"] limit:5 %}
            <li style="color: white;"> {{ post.date | date: '%d %B, %Y' }} -  <a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
            {% endfor %}
        </div>
        <div class="col-sm">
        
            <h1 >Recent debate posts</h1>
            {% for post in site.categories["debate"] limit:5 %}
            <li style="color: white;"> {{ post.date | date: '%d %B, %Y' }} -  <a style="color:cornflowerblue;" href="{{post.url}}">{{ post.title }} </li></a>
            {% endfor %}
        </div>
    </div>
</div>
